#head {
    position: sticky;
    top: 1em;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;

    font-size: 0;
    height: 0;
    animation: head 0.7s ease 0.7s forwards;
}

#head > p, #head > span > *{
    background-color: var(--back-col);
    border-radius: 1em;
    margin: 0 2em;
    padding: 1em 1em;
}

@keyframes head {
    from { 
        opacity: 0;
        height: 0;
        font-size: 0;
    }
    to {
        opacity: 1;
        height: 5rem;
        font-size: 1rem;
    }
}

#head > span {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#head > p {
    justify-self: self-start;
    text-align: left;
    font-size: 1em;
}

#head > span > hr {
    width: 0;
    margin: 0;

    height: 0;
    animation: head-hr 0.7s ease 0.7s forwards;
}

@keyframes head-hr {
    from { 
        height: 0;
    }
    to {
        height: 3rem;
    }
}

#head > span > svg {
    height: 50px;
    fill:none;
    stroke: black;
}